@tailwind base;
@tailwind components;
@tailwind utilities;


.bookImage{
  width: 60px;
  
}
.productimage{
  width: 100%;
  height: 430px;
}  
.profile{
  width: 60px;
  border-radius: 150px;
}
.books{
  padding: 9.349px 114px 10.228px 113px;
}
.navBar{
  justify-content: center;
  padding: 9.349px 114px 10.228px 113px;
  align-items: center;
  gap: 75px;
}

@media screen and (max-width: 767px) {
  .navBar, .books{
    padding: 0px;
  }
}
.background{
  background-color: #004D6D;
  padding: 100px 115px;
}
.pera{
  color: #FFF;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.lorem{
  color: #FFF;

font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}

.section{
  background-image: url('Media/Section2.png');
  background-size: cover;
}